ul {
  list-style: none !important;
}

body {
  margin: 0.8rem;
}

#content > * {
  margin: 0;
}

#dashboard .applications, #configuration .applications, #deployments {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}

#dashboard .applications > li, #configuration .applications > li {
  margin: 0 0.5rem 1rem 0.5rem;
  min-width: 250px;
}

#dashboard .applications ul.card-body {
  margin: 0;
  padding-bottom: 1rem;
}

#deployments .card {
  min-width: 30rem;
  margin: 0 0.5rem 1rem 0.5rem;
}

.package.inline span ~ span {
  margin-left: 0.5rem;
}

.icon ~ span {
  margin-left: 0.5rem;
}

.btn-group-space > * ~ * {
  margin-left: 0.5rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(53, 1fr);
  grid-auto-rows: 1fr;
}

#application .calendar {
  margin-top: 1rem;
}

.calendar::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.calendar > .day:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.calendar > .day {
  border: 1px white solid;
  background-color: rgb(0, 110, 0);
}

.calendar > .day.count-0 {
  background-color: lightgray;
}

.calendar > .day.count-1 {
  background-color: rgb(0, 180, 0);
}

.calendar > .day.count-2 {
  background-color: rgb(0, 175, 0);
}

.calendar > .day.count-3 {
  background-color: rgb(0, 170, 0);
}

.calendar > .day.count-4 {
  background-color: rgb(0, 165, 0);
}

.calendar > .day.count-5 {
  background-color: rgb(0, 160, 0);
}

.calendar > .day.count-6 {
  background-color: rgb(0, 155, 0);
}

.calendar > .day.count-7 {
  background-color: rgb(0, 150, 0);
}

.calendar > .day.count-8 {
  background-color: rgb(0, 145, 0);
}

.calendar > .day.count-9 {
  background-color: rgb(0, 140, 0);
}

.calendar > .day.count-10 {
  background-color: rgb(0, 135, 0);
}

.calendar > .day.count-11 {
  background-color: rgb(0, 130, 0);
}

.calendar > .day.count-12 {
  background-color: rgb(0, 125, 0);
}

.calendar > .day.count-13 {
  background-color: rgb(0, 120, 0);
}

.calendar > .day.count-14 {
  background-color: rgb(0, 115, 0);
}

.message {
  padding: 1rem;
}

.standalone-packages {
  margin-left: 0;
  margin-bottom: 0;
}

.standalone-packages li {
  display: flex;
  justify-content: space-between;
}

.standalone-packages li span ~ span {
  margin-left: 1rem;
}

/* Overriding spectre's */

header.navbar {
  margin-bottom: 1.1rem;
}

header .navbar-section > .btn:first-child {
  padding-left: 0;
}

.card {
  border-radius: 0.16rem;
}

.card-title {
    margin-bottom: 0.3rem;
}

.card-body h6 {
  margin-top: 0.9rem;
  margin-bottom: 0.6rem;
  font-size: 0.77rem;
  text-transform: uppercase;
}

.card .card-body > ul, .card ul.card-body {
  margin: 0;
  padding-top: .3rem;
}

ul > li:first-child {
  margin-top: 0;
}

.icon-cross, .icon-check, .icon-stop {
  vertical-align: -2px;
}

.panel .panel-body {
  padding-bottom: 0.8rem;
}

.panel .panel-footer {
  padding-top: 0;
}

.timeline .timeline-item .timeline-icon .bg-error, .timeline .timeline-item .timeline-icon .bg-success {
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
}

.day.empty {
  background: white;
  border-radius: 0;
  padding: 0;
}

h6 {
  font-weight: bold;
  margin-top: 0.8rem;
}

h6 ~ ul {
  margin-top: 0;
}
